@import "./bootstrap_variables_overwrite.scss";

#front, #back { position: absolute; width: 100vw; }

#back { min-height: 100vh; z-index: 1; }

#front { z-index: 2; }

#back {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");